
   <!-- ====== Header Area ====== -->
   <header class="header-area style-three">
      <div class="container-fluid">
         <nav class="navbar navbar-expand-xl">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="index-1.html">
               <!--  <img src="assets/aventurarte_logo.png" style="width: 120px;"> -->
           <img src="assets/aventurarte_logo.png" style="width: 120px;">
            </a>

            <!-- Navbar Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#touriaNav"
               aria-controls="touriaNav" aria-expanded="false" aria-label="Toggle navigation">
               <i class="ti ti-menu-deep"></i>
            </button>

            <!-- Navbar Nav -->
            <div class="collapse justify-content-xl-end navbar-collapse" id="touriaNav">
               <ul class="navbar-nav align-items-xl-center navbar-nav-scroll">
                  <li class="tourly-dd">
                     <a href="">Inicio </a>
                   
                  </li>
                  <li class="tourly-dd">
                     <a routerLink="destinos">Destinos y Paquetes </a>
                     <!-- <ul class="tourly-dd-menu">
                        <li><a href="destination.html">Destination 1</a></li>
                        <li><a href="destination-two.html">Destination 2</a></li>
                        <li><a href="destination-three.html">Destination 3</a></li>
                        <li><a href="destination-four.html">Destination 4</a></li>
                        <li><a href="destination-details.html">Destination Details 1</a></li>
                        <li><a href="destination-details-two.html">Destination Details 2</a></li>
                     </ul> -->
                  </li>
               
                  <li class="tourly-dd">
                     <a  routerLink="contacto">Contacto </a>
                     <!-- <ul class="tourly-dd-menu">
                        <li><a href="contact.html">Contact 1</a></li>
                        <li><a href="contact-two.html">Contact 2</a></li>
                     </ul> -->
                  </li>
               </ul>

               <!-- Header Navigation -->
               <div class="header-navigation d-flex flex-wrap align-items-center gap-3 mt-4 mt-xl-0">
                  <!-- Search Button -->
                  <div class="header-search-btn" id="searchButton">
                     <button class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                           <path
                              d="M12.0774 12.0987L14.6441 14.6654M13.8333 7.58203C13.8333 9.23963 13.1748 10.8293 12.0027 12.0014C10.8306 13.1736 9.24085 13.832 7.58325 13.832C5.92565 13.832 4.33594 13.1736 3.16383 12.0014C1.99173 10.8293 1.33325 9.23963 1.33325 7.58203C1.33325 5.92443 1.99173 4.33472 3.16383 3.16261C4.33594 1.99051 5.92565 1.33203 7.58325 1.33203C9.24085 1.33203 10.8306 1.99051 12.0027 3.16261C13.1748 4.33472 13.8333 5.92443 13.8333 7.58203Z"
                              stroke="#161920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </button>
                  </div>

                  <!-- Offcanvas Icon -->
                  <div class="offcanvas-icon" data-bs-toggle="offcanvas" data-bs-target="#sideMenuOffcanvas"
                     aria-controls="sideMenuOffcanvas">
                     <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" viewBox="0 0 26 18" fill="none">
                        <path
                           d="M19.5 1.28571C19.5 0.575658 18.9179 0 18.2 0H1.3C0.582056 0 0 0.575658 0 1.28571C0 1.99577 0.582056 2.57143 1.3 2.57143H18.2C18.9179 2.57143 19.5 1.99572 19.5 1.28571ZM1.3 7.71428H24.7C25.4179 7.71428 26 8.28999 26 9C26 9.71006 25.4179 10.2857 24.7 10.2857H1.3C0.582056 10.2857 0 9.71006 0 9C0 8.28999 0.582056 7.71428 1.3 7.71428ZM1.3 15.4286H13C13.7179 15.4286 14.3 16.0042 14.3 16.7143C14.3 17.4243 13.7179 18 13 18H1.3C0.582056 18 0 17.4243 0 16.7143C0 16.0042 0.582056 15.4286 1.3 15.4286Z"
                           fill="#161920" />
                     </svg>
                  </div>

                  <!-- Get A Quote -->
                  <a class="btn btn-primary" href="contact.html">Cotizar <i class="icon-arrow-right"></i></a>
               </div>
            </div>
         </nav>
      </div>
   </header>