 <!-- ====== Right Side Offcanvas ====== -->
   <div class="offcanvas offcanvas-end right-side-tourly-offcanvas shadow-lg" tabindex="-1" id="sideMenuOffcanvas">
      <!-- Offcanvas Header -->
      <div class="offcanvas-header">
         <div>
             <img src="assets/aventurarte_logo.png" style="width: 120px;">
         </div>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <!-- Offcanvas Body -->
      <div class="offcanvas-body">
         <div class="container-fluid">
            <div class="d-flex flex-column gap-5 mb-5">
               <!-- Single Item -->
               <div class="about-card-sm d-flex align-items-center gap-3">
                  <div class="icon">
                     <i class="ti ti-shield-half"></i>
                  </div>
                  <div>
                     <h4>Safety First Always</h4>
                     <p class="mb-0">We believe in the power of travel As avid explorer.</p>
                  </div>
               </div>

               <!-- Single Item -->
               <div class="about-card-sm d-flex align-items-center gap-3">
                  <div class="icon">
                     <i class="ti ti-world-star"></i>
                  </div>
                  <div>
                     <h4>Experience the World</h4>
                     <p class="mb-0">We believe in the power of travel As avid explorer.</p>
                  </div>
               </div>

               <!-- Single Item -->
               <div class="about-card-sm d-flex align-items-center gap-3">
                  <div class="icon">
                     <i class="ti ti-capture"></i>
                  </div>
                  <div>
                     <h4>Excellence in Service</h4>
                     <p class="mb-0">We believe in the power of travel As avid explorer.</p>
                  </div>
               </div>

               <!-- Single Item -->
               <div class="about-card-sm d-flex align-items-center gap-3">
                  <div class="icon">
                     <i class="ti ti-user"></i>
                  </div>
                  <div>
                     <h4>Friendly Guider</h4>
                     <p class="mb-0">We believe in the power of travel As avid explorer.</p>
                  </div>
               </div>

               <a href="about-us.html" class="btn btn-primary">Book Now <i class="icon-arrow-right"></i></a>
            </div>
         </div>
      </div>
   </div>